<p style="color: green"><%= notice %></p>

<h1 style="text-align: center;">Articles</h1>

<%= render 'article' %>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>